*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  /* background-color: black; */
}

body,
#root {
  display: flex;
  flex-direction: column;
}

#root {
  flex-grow: 1;
}

:root {
  --primary-color: #d00b22;
  --secondary-color: #000;
}
